/* VARIABLES */
$dropbox-blue: #6DA3E3;
$second-blue: #528ED5;
$anal-purp: #726de3;
$font-stack: Tahoma, Arial, sans-serif;

/* SELECTORS */
html {
	font-family: $font-stack;
}
body {
	background-color: aliceblue;
	font-size: 20px;
	box-sizing: border-box;
}
h1 {
	text-align: center;
    padding: .1em .4em;
    cursor: default;
	flex: 1 0 auto;
	font-family: Plaster;
	box-shadow: 10px 10px 10px 10px;
	font-size: 72px;
    color: #2D4571;
	// color: $second-blue;
}
.main {
	min-height: 100vh;
	margin: 0 20vw;
	border-left: 30px inset $dropbox-blue;
	border-right: 30px inset #A33643;
}
.flex {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
}
.circle {
	flex: 99 0 auto;
	margin: 15vh 10vw;
	justify-content: center;
	padding: 0 5em;
	border: 1px dotted $second-blue;
	border-radius: 2em;
}
.fa-dropbox {
	color: $dropbox-blue;
}
button {
	// flex: 1 0 10px;
	padding: 1em;
	margin: 0.5em;
	font-size: 20px;
	border: 0;
	cursor: grab;
	color: white;
	background-color: $dropbox-blue;
	border-radius: 0.5em;
	cursor: pointer;
	&:hover {
		box-shadow: 0.1em 0.1em 0.1em 0.1em;
	}
}
footer {
	text-align: center;
	padding-left: 0.5em;
	font-size: 14px;
	color: slategrey;
}
